
body{
    background-color: rgb(19, 18, 18);
    
}
h1{
    color: rgb(252, 255, 254);
    background-color: rgb(78, 88, 88);
}
.container{
    text-align: center;
    margin-top: 23px;
    
 
}
button{
    color: rgb(255, 0, 0);
    font-size: larger;
    height: 55px;
    width: 55px;
    border-radius: 0px;
    background: rgb(19, 18, 17);
    margin: 2px;
    box-shadow: rgb(3, 230, 247) 1px 1px 1px 2px;
    border: solid rgb(109, 104, 104);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.calculator{
    display: inline-table;
    background-color: rgb(46, 63, 57);
    padding: 15px;
    border-radius: 0px;
    border: solid rgb(255, 255, 255);
    
    
}
input{
    border-radius: 0px;
    border: 5px rgb(11, 134, 64);
    font-size: 25px;
    height: 50px;
    width: 300px;
    border: solid grey;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 18, 17);
    padding: 2.5px  ;
    
}








